* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  
}

body {
  
  background-color: #23252C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 317px;
  margin: 20px 50px 0;
}

.info__div > img {
  height: 317px;
  width: 317px;
  border-radius: 10px 10px 0 0;
  -webkit-user-drag: none;
}

.info__div > h1 {
  background-color: #1A1B21;
  color: #ffffff;
  padding: 21px 70px 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.info__div > h4 {
  background-color: #1A1B21;
  color: #F3BF99;
  text-align: center;
  font-weight: 400;
  padding: 6px 70px 0;
  line-height: 15px;
  font-size: 13px;
}

.info__div > a > h5 {
  background-color: #1A1B21;
  color: #F5F5F5;
  padding-top: 8.8px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.info__buttons {
  background-color: #1A1B21;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px 35px 33px;
}

.email__ahref {
  text-decoration: none;
}

.email__button {
  width: 115px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #D1D5DB;
  background: #ffffff;
  border-radius: 6px;
  padding: 9px 13px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-right: 8.5px;
  cursor: pointer;

}

.email__button:hover {
  box-shadow: 0 2px 4px 0 rgba(221, 189, 189, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.2);
}

.fa-envelope {
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #374151;
  margin-left: 13.5px;

}

.email__button > text {
  color: #374151;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 15.5px;
}

.linkedin__ahref {
  text-decoration: none;
}

.linkedin__button {
  width: 115px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;  
  background: rgb(80, 147, 226);
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  margin-left: 8.5px;
  cursor: pointer;
}

.linkedin__button:hover {
  box-shadow: 0 2px 4px 0 rgba(161, 205, 255, 0.3), 0 3px 10px 0 rgba(197, 224, 255, 0.2);
}

.linkedin__button > text {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  flex: none;
  order: 1;
  flex-grow: 0;

}

.fa-linkedin {
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;

}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  max-width: 317px;
}

.about__container > h2 {
  background-color: #1A1B21;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 0 34px 0 36px;
}

.about__container > p {
  background-color: #1A1B21;
  color: #DCDCDC;
  font-weight: 400;
  font-size: 10.24px;
  padding: 0 34px 5px 36px;
  line-height: 15px;

}

.interests__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  width: 317px;
}

.interests__container > h2 {
  background-color: #1A1B21;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 5px 34px 0 36px;
}

.interests__container > p {
  background-color: #1A1B21;
  color: #DCDCDC;
  font-weight: 400;
  font-size: 10.24px;
  padding: 0 34px 33px 36px;
  line-height: 15px;

}

footer {
  background-color: #161619;
  width: 317px;
  height: 64px;
  margin: 0 50px 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a {
    margin: 0 13px;
}

footer > a > img {
  height: 25px;
  width: 25px;
  -webkit-user-drag: none;
}

.imgfb:hover, .imgig:hover, .imgtwitter:hover, .imggithub:hover {
  filter: brightness(150%);
}

@media (max-width: 768px) {
.info__div {
  margin: 10px 20px 0px;
}
.about__container, .interests__container {
  margin: 0px 20px;
}
footer {
  margin: 0px 20px 10px;
}
}